<div class="h-100 bg-premium-dark">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-md-8">
      <div class="app-logo-inverse mx-auto mb-3"></div>
      <div class="modal-dialog w-100">
        <div class="modal-content">
          <div class="modal-body">
            <h5 class="modal-title">
              <h4 class="mt-2">
                <div>Welcome,</div>
                <span>It only takes a <span class="text-success">few seconds</span> to create your account</span>
              </h4>
            </h5>
            <div class="divider"></div>


            <!-- <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
              <div id="exampleInputGroup1" role="group" aria-describedby="exampleInputGroup1_BV_description"
                class="mb-3 form-group">
                <div>
                  <input id="exampleInput1" formControlName="email" type="email" placeholder="Enter email..."
                    required="required" aria-required="true" class="form-control form-group"
                    aria-describedby="exampleInputGroup1_BV_description">
                  <small tabindex="-1" id="exampleInputGroup1_BV_description" class="form-text text-muted form-group">
                    We'll never share your email with anyone else.
                  </small>
                </div>
              </div>
              <div id="exampleInputGroup12" role="group" class="mb-3 form-group">
                <div>
                  <input id="exampleInput12" type="text" formControlName="firstName"
                    [ngClass]="{'is-invalid':submitted && registrationForm.controls.firstName.errors}"
                    placeholder="Enter firstname..." required="required" aria-required="true" class="form-control form-group">
                </div>
              </div>
              <div id="exampleInputGroup12" role="group" class="mb-3 form-group">
                <div>
                  <input id="exampleInput12" type="text" formControlName="lastName" placeholder="Enter lastname..."
                    required="required" aria-required="true" class="form-control form-group">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div id="exampleInputGroup2" role="group" class="mb-3 form-group">
                    <div>
                      <input id="exampleInput2" formControlName="password" type="password"
                        placeholder="Enter password..." required="required" aria-required="true" class="form-control form-group">
                    </div>
                  </div>
                </div>
              
              </div>
              <div class="custom-control custom-checkbox form-check form-group">
                <input id="exampleCheck" type="checkbox" name="check" autocomplete="off" class="form-check-input form-group"
                  value="true">
                <label for="exampleCheck" class="form-label form-check-label form-group">
                  Accept our <a [routerLink]="">Terms and Conditions</a>.
                </label>
              </div>


              <div class="divider form-group"></div>
              <h6 class="mb-0 form-group">
                Already have an account?
                <a routerLink='/login-boxed' class="text-primary form-group">Sign in</a>
                <br>
                <a routerLink='/forgot-password-boxed' class="text-primary form-group">Recover Password</a>
              </h6>

              <div class="modal-footer d-block text-center form-group">
                <button type="button"
                  class="btn btn-wide btn-pill btn-shadow btn-hover-shine btn-secondary btn-lg form-group">Create Account</button>
              </div>
            </form> -->
            <form (submit)="onSubmit()" [formGroup]="registerForm">
              <div class="form-group">
                <label for="firstname">First Name</label>
                <input [ngClass]="{'is-invalid':submitted && registerForm.controls.firstName.errors}" formControlName="firstName" type="text" class="form-control">
                <div *ngIf="submitted && registerForm.controls.firstName.errors" class="text-danger">
                  <div *ngIf="submitted && registerForm.controls.firstName.errors.required">
                    First Name is required
                  </div>
                  <div *ngIf="submitted && registerForm.controls.firstName.errors.minlength">
                    First Name Should be atleast 4 characters
                  </div>  
                </div>
              </div>
              <div class="form-group">
                <label for="lastname">Last Name</label>
                <input [ngClass]="{'is-invalid':submitted && registerForm.controls.lastName.errors}" formControlName="lastName" type="text" class="form-control">
                <div *ngIf="submitted && registerForm.controls.lastName.errors" class="text-danger">
                  <div *ngIf="submitted && registerForm.controls.lastName.errors.required">
                    Last Name is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email Address</label>
                <input [ngClass]="{'is-invalid':submitted && registerForm.controls.email.errors}" formControlName="email" type="email" class="form-control">
                <div *ngIf="submitted && registerForm.controls.email.errors" class="text-danger">
                  <div *ngIf="submitted && registerForm.controls.email.errors.required">
                    Email Address is required
                  </div>
                  <div *ngIf="submitted && registerForm.controls.email.errors.email">
                    Email Address is not Valid
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input [ngClass]="{'is-invalid':submitted && registerForm.controls.password.errors}" formControlName="password" type="password" class="form-control">
                <div *ngIf="submitted && registerForm.controls.password.errors" class="text-danger">
                  <div *ngIf="submitted && registerForm.controls.password.errors.required">
                    Password is required
                  </div>
                  <div *ngIf="submitted && registerForm.controls.password.errors.minlength">
                    Password should be atleast 8 characters
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" >Register</button>
              </div>
            </form>



          </div>
        </div>
        <div class="text-center text-white opacity-8 mt-3">
          Copyright © ArchitectUI 2019
        </div>
      </div>
    </div>
  </div>

  <!-- registration.component.html -->
  <!-- <h2>Registration</h2>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Email:</label>
    <input type="email" formControlName="email" required>
    <div *ngIf="email.touched && email.invalid">
      <div *ngIf="email.errors.required">Email is required.</div>
      <div *ngIf="email.errors.email">Invalid email format.</div>
    </div>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" formControlName="password" required>
    <div *ngIf="password.touched && password.invalid">
      <div *ngIf="password.errors.required">Password is required.</div>
    </div>
  </div>
  <button type="submit" routerLink='/login-boxed' [disabled]="registrationForm.invalid">Register</button>
</form> -->



  <!-- <div class="container">
  <div class="row">
      <div class="col-lg-12">
          <div class="row">
              <h3>Registration</h3>

              <form action="" method="" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                  <i class="fa-solid fa-envelope"></i>
                  <label for="email" class="form-label">Email</label>
                  <input type="text" class="form-control" id="email" placeholder="Email" required>
                  <p id="e_email"></p>
                  <div *ngIf="email.touched && email.invalid">
                    <div *ngIf="email.errors.required">Email is required.</div>
                    <div *ngIf="email.errors.email">Invalid email format.</div>
                  </div>

                  <i class="fa-solid fa-lock"></i>
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="pass" placeholder="password" required>
                  <p id="e_pass"></p>
                  <div *ngIf="password.touched && password.invalid">
                    <div *ngIf="password.errors.required">Password is required.</div>
                  </div>
                  <br>
                <a href="#"><button type="button" class="btn" name="Submit" routerLink='/login-boxed' [disabled]="registrationForm.invalid" onclick="validation()">Register</button></a> 
                <p>Already have account?</p> 
                <a [routerLink]="['pages/login-boxed']" class="text-primary" >Login Now</a>
              </form>
          </div>
      </div>
  </div>
</div>



<style>
  .container{
      padding-top: 31px;
      align-items: center;
      margin-left: 477px;
      width: 30%;
  }
  .col-lg-12{
      background:linear-gradient(90deg,rgb(158, 22, 29),rgb(204, 36, 148));
      width:100%;
      box-shadow: 10px;
      height: 480px;
      background-repeat: no-repeat;
      border-radius: 30px;
      box-shadow: 3px 3px rgb(107, 106, 106);
      margin-left: 60px;
      border: 1px solid;
    }
    h3{
      text-align: center;
      font-size: 35px;
      font-weight: 700;
      box-shadow: 10px;
    }
    .btn{
      border: 1px solid black;
      text-align: center;
      border: 0px solid black;
      text-align: center;
      margin-left: 152px;
      font-size: 19px;
      font-weight: 500;
      width: 120px;
      height: 44px;
      margin-top: 13px;
      border-radius: 23px;
      background-color: rgb(60, 107, 181);
      color: rgb(0, 0, 0);

  }
      .btn:hover{
          background-color: rgb(20, 66, 141);
          color: whitesmoke;
          font-size: 19px;
          font-weight: 500;
    }
    p{
      color:rgb(118, 5, 5);
    }
      </style>

 -->