<table class="table">
    <thead>
      <tr>
        <th>Astrologer ID</th>
        <!-- <th>Title</th> -->
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Password</th>
        <th>Type of Astrologer</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>    
      <tr>
        <td>{{data.id}}</td>
        <!-- <td>{{data.title}}</td> -->
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.password}}</td>
        <td>{{data.categories}}</td>
        <td>{{data.gender}}</td>
      </tr>
    </tbody>
  </table>